/* reset */
body,
ul,
h1,
h2,
tr,
td {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
    background: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    font: inherit;
}

:root {
    --primary-color: #f43a80;
    --gray-color: #817e8e;
}

/* debug */
/* * * {
  background-color: rgba(255, 0, 0, 0.1);
} */

/* Commons */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Typography */
:root {
  font-size: 62.5%; /* 10px */
}

body {
  font-size: 1rem;
  font-family: "Nanum Gothic";
}

/* layouts */
.l_wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

/* components */
body {
    background-color: #ddd;
}

.contents {
    background-color: #fff;
    padding: 50px 0;
}

.container {
    margin: 0 -20px;
}

/* section */
.section {
  width: 50%;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
}
.section_header {
  overflow: hidden;
  margin-bottom: 1rem;
}
.section_title {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
}
.section_subtitle {
  font-size: 1rem;
}
.section_side {
  float: right;
}
.section_more {
  font-size: 1rem;
  line-height: 1;
}
.section_more::after {
  content: '>';
  display: inline-block;
  background-image: url(./assets/png/arrow.png);
  text-indent: -9999px;
  margin-left: 4px;
  width: 6px;
  height: 10px;
  background-size: 6px 10px;
}

/* tab */
.tab {
  text-align: center;
  border: 1px solid #ddd;
}

/* tab */
.tab_item {
  float: left;
  width: 33.3333%;
  position: relative;
}

.tab_item + .tab_item:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #ddd;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.tab_button {
  padding: 0.8rem;
  display: block;
  width: 100%;
}

.tab_button:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 2px;
  background-color: var(--gray-color);
  margin: 0 -1px;
  transform: translateY( calc( -100% + 1px ) );
}
.tab_button.is-active:after {
  background-color: var(--primary-color);
  z-index: 10;
}


/* recommend tab */
.recommend-tab {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0.9rem;
  background-color: grey;
}
.recommend-tab_text {
  display: block;
  margin-top: 0.3rem;
}
.recommend-tab img {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

/* chart */
.chart {
  font-size: 1.4rem;
}
.chart_list {
  width: 100%;
}

.list_item:first-child {
  height: 6rem;
  line-height: 6rem;
}
.list_item {
  overflow: hidden;
  border-bottom: 1px solid black;
  height: 3rem;
  line-height: 3rem;
}

.list_item:nth-child(even) {
  background-color: grey;
}
.list_change {
  font-size: 1.2rem;
}
.list_change img {
  width: 0.8rem;
  vertical-align: baseline;
}
.list_cover {
  vertical-align: middle;
}
.list_cover img {
}

.list_item:first-child .list_title {
  font-weight: 800;
}

.list_title {
  display: inline;
  font-weight: 600;
  font-size: 1.2rem;
}
.list_singer {
  font-size: 1.2rem;
}
.list_controllers {
  /* float: right; */
  text-align: center;
}
.chart_controllers {
  margin: 1.2rem 0;
}
.chart_controllers .btn {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0 0.1rem;
}
.btn_play {
  float: left;
}
.btn_add {
  float: right;
}
.btn_download {
  float: right;
}

/* button */
.btn {
  border: 0;
  padding: 0;
  background: transparent;
}

.btn img {
  width: 1.4rem;
  height: 1.4rem;
}

.btn_lg {
  vertical-align: top;
  margin: 0 1rem;
}

.btn_lg img {
  height: 2.5rem;
  width: 2.5rem;
}
/* now playing */
.now-playing {
  padding: 2rem;
}

.now-playing_cover {
  float: left;
  width: 7.5rem;
  height: 7.5rem;
}
.now-playing_contents {
  position: relative;
}
.now-playing_information {
  padding: 0 2rem;
  overflow: hidden;
}
.now-playing_title {
  font-size: 1rem;
}
.now-playing_subtitle {
  font-size: 1rem;
  margin: 0.4rem 0;
  font-weight: normal;
}

.now-playing_release {
  color: grey;
}

/* playlist */
.playlist {
  padding: 2rem;
  overflow: hidden;
  border-top: 1px solid black;
}
.playlist_item {
  cursor: pointer;
  margin: 0.6rem 0;
}
.playlist_item:hover {
  font-weight: bold;
}
.playlist_item_title {
}
.playlist_item_singer {
}

/* music player */
.music-player {
  position: relative;
  text-align: center;
  background-color: grey;
  padding: 2rem;
}
.music-player_time {
  float: left;
  color: #fff;
}
.music-player_controllers {
  height: 3rem;
  line-height: 3rem;
}

.music-player_utils {
  float: right;
}

/* progress bar */
.progress_bar {
  margin-top: 1rem;
  /* height: 1rem; */
  background-color: cyan;
}
.progress_bar::before {
  display: block;
  content: " ";
  width: 50%;
  height: 0.2rem;
  background-color: red;
}

/* hashtags */
.hashtag {
  display: inline;
  border: 1px solid;
  border-radius: 0.8rem;
  padding: 0 0.6rem;
  text-transform: uppercase;
}
.hashtag_red {
  color: red;
}
.hashtag_blue {
  color: blue;
}
